/* Import  font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body{
	margin:0;
	padding:0;
	background:white;
}


/* Set up grid template columns and rows */
.grid-container{
	display: grid;
	grid-template-columns: 35% 15% 50%;
	grid-template-rows: 58px auto auto;
	height: 100vh;
}

.navigation{
	box-sizing: border-box;
	grid-column-start: 1;
	grid-column-end: span 4;
}


nav{
	width:100%;
	background-color: #0C59CF;
	overflow:auto;
	
}

ul{
	padding:0;
	margin:0 0 0 30px;
	list-style: none;
}
/* Set up position for the text in nav to the right */
li{
	float:right;
}


/* Set up Drop down menu for */
nav a{
	display:block;
	width:100px;
	padding: 20px 15px;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	color:white;
	text-align: center;
}

nav a:hover{
	background:black;
	transition:0.5s;
}

ul li ul{
	padding: 0;
	position: absolute;
	top: 58px;
	width: 100px;
	display: none;
	visibility: hidden;
	z-index: 5;
}
	
ul li ul li{
	background-color:  #0C59CF;
	display: block;
}

ul li ul li:hover{background: black;}

ul li:hover ul{
	display: block;
	visibility: visible;
}

/* Set up position for the logo */
.logo img{
	position:absolute;
	margin-top:-20px;
}

/* Set up position for content div to hold the function */
.content{
	background-color: white;
	z-index:4;
	height:680px;
	grid-column-start: 1;
	grid-column-end: span 1;
	
}


.img_2{
	background-color: white;
	z-index: 2;
	height:680px;
	grid-column-start: 2;
	grid-column-end: span 4;
}

.img_2 img{
	height:680px;
	width:100%
}

/* Set up the footer */
.footer{
	background-color: blue;
	grid-column-end: span 4;
	padding-top:25px;
	text-align: center;
	color:white;
	height:50px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}

/* Re position of text in the div */
h3{
	margin-left:130px;
	margin-top:30px;
	
}

/* Re position of text in the div and change font-size, color, weight */
p{
	margin-left:130px;
	margin-top:250px;
	font-size:24px;
	color:#0C59CF;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
}

#us{
	height:30px;
	width: 240px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}

#pa{
	height:30px;
	width: 240px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}

/* Set up the login buttom*/
#login{
	height:25px;
	width: 80px;
	color:white;
	background-color:#0C59CF;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}

/* Set up the text display correct*/
.Connected{
	font-size:18px;
	color:green;
	font-weight: bold;
	position: absolute;
  	top: 240px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}

/* Set up the text display error*/
.error{
	font-size:18px;
	color:red;
	font-weight: bold;
	position: absolute;
  	top: 240px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
