/* Import  font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
	margin:0;
	padding:0;
	background:white;
}

.grid-container{
	display: grid;
	grid-template-columns: 15% 35% 50%;
	grid-template-rows: 58px auto auto auto;
	height: 100vh;
}

.navigation{
	box-sizing: border-box;
	grid-column-start: 1;
	grid-column-end: span 4;
}


nav{
	width:100%;
	background-color:#0C59CF;
	overflow:auto;
	
}

ul{
	padding:0;
	margin:0 0 0 30px;
	list-style: none;
}

li{
	float:right;
}



nav a{
	display:block;
	width:100px;
	padding: 20px 15px;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	color:white;
	text-align: center;
}

nav a:hover{
	background:black;
	transition:0.5s;
}

ul li ul{
	padding: 0;
	position: absolute;
	top: 58px;
	width: 100px;
	display: none;
	visibility: hidden;
	z-index: 5;
}


	
ul li ul li{
	background-color:  #0C59CF;
	display: block;
}

ul li ul li:hover{background: black;}

ul li:hover ul{
	display: block;
	visibility: visible;
}

.logo img{
	position:absolute;
	margin-top:-20px;
}

.img_1{
	grid-column-start: 1;
	grid-column-end: span 4;
}

.img_1 img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:400px;
	width:100%;
}

.footer{
	background-color: blue;
	grid-column-end: span 4;
	padding-top:25px;
	text-align: center;
	color:white;
	height:50px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}

.content_1{
	background-color: white;
	grid-column-start: 1;
	grid-column-end: span 4;
	z-index: 2;	
	height: 150px;
	text-align:center;
}



.content_1 p{
	font-size:16px;
	color:black;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}

.content_1 h1{
	font-size:24px;
	color:#0C59CF;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
}

.content_4{
	grid-column-start: 1;
	grid-column-end: span 4;
	background-color: white;
	z-index: 2;
	height:600px		
}

.content_4{
	width: 100%;
	display: grid;
    grid-gap: 2%;
	grid-template-columns: 5% 20% 20% 20% 20%;
	grid-template-rows: auto auto;
}

.images1{
	height:214px;
	background-color:white;
	margin-top:50px;
	position: relative;
    width: 100%;
}

.images1 img{
	height:214px;
	margin-left:25px;
}

.images2{
	height:214px;
	background-color:white;
	margin-top:50px;
	position: relative;
    width: 100%;
}

.images2 img{
	height:214px;
	margin-left:25px;	
}

.images3{
	height:214px;
	background-color:white;
	margin-top:50px;
	position: relative;
    width: 100%;
}

.images3 img{
	height:214px;
	margin-left:25px;
}

.images4{
	height:214px;
	background-color:white;
	margin-top:50px;
	position: relative;
    width: 100%;
}

.images4 img{
	height:214px;
	margin-left:25px;
}

.images5{
	height:214px;
	background-color:white;
	margin-top:50px;
	position: relative;
    width: 100%;
}

.images5 img{
	height:214px;
	margin-left:25px;
}

.images6{
	height:214px;
	background-color:white;
	margin-top:50px;
	position: relative;
    width: 100%;
}

.images6 img{
	height:214px;
	margin-left:25px;
}

.images7{
	height:214px;
	background-color:white;
	margin-top:50px;
	position: relative;
    width: 100%;
}

.images7 img{
	height:214px;
	margin-left:25px;
}

.images8{
	height:214px;
	background-color:white;
	margin-top:50px;
	position: relative;
    width: 100%;
}

.images8 img{
	height:214px;
	margin-left:25px;
}



.image1 {
  display: block;
  width: 100%;
  height: auto;
}

.image2 {
  display: block;
  width: 100%;
  height: auto;
}

.image3 {
  display: block;
  width: 100%;
  height: auto;
}

.image4 {
  display: block;
  width: 100%;
  height: auto;
}

.image5 {
  display: block;
  width: 100%;
  height: auto;
}

.image6 {
  display: block;
  width: 100%;
  height: auto;
}

.image7 {
  display: block;
  width: 100%;
  height: auto;
}

.image8 {
  display: block;
  width: 100%;
  height: auto;
}


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: black;
	margin-left:25px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	text-decoration:none;
	color:white;
}

.images1:hover .overlay {
	opacity: 1;
	
}

.images2:hover .overlay {
  opacity: 1;
}

.images3:hover .overlay {
  opacity: 1;
}

.images4:hover .overlay {
  opacity: 1;
}

.images5:hover .overlay {
  opacity: 1;
}

.images6:hover .overlay {
  opacity: 1;
}
.images7:hover .overlay {
  opacity: 1;
}
.images8:hover .overlay {
  opacity: 1;
}
.text {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
