body{
	margin:0;
	padding:0;
	background:white;
}

.grid-container{
	display: grid;
	grid-template-columns: 35% 15% 50%;
	grid-template-rows: 58px auto auto;
	height: 100vh;
}

.navigation{
	box-sizing: border-box;
	grid-column-start: 1;
	grid-column-end: span 4;
}


nav{
	width:100%;
	background-color:white;
	overflow:auto;
	background-color:#C8A2C8;
}

ul{
	padding:0;
	margin:0 0 0 150px;
	list-style: none;
}

li{
	float:right;
}

.logo img{
	position:absolute;
	margin-top:-20px;
}

nav a{
	display:block;
	width:100px;
	padding: 20px 15px;
	text-decoration:none;
	font-family:Arial;
	color:black;
	text-align: center;
}

nav a:hover{
	background:black;
	transition:0.5s;
	color:white;
}




.content{
	background-color: white;
	z-index:4;
	height:680px;
	grid-column-start: 1;
	grid-column-end: span 1;
	
}


.img_2{
	background-color: white;
	z-index: 2;
	height:680px;
	grid-column-start: 2;
	grid-column-end: span 4;
}

.img_2 img{
	height:680px;
	width:100%;
}

.footer{
	background-color: #C8A2C8;
	grid-column-start: 1;
	grid-column-end: span 4;
	text-align: center;
	height:35px;
	color:black;
	padding-top:20px;
}

h3{
	margin-left:130px;
	margin-top:30px;
	
	
}

p{
	margin-left:130px;
	margin-top:250px;
	font-size:30px;
	color:#C8A2C8;
}

#us{
	height:30px;
	width: 240px;

}

#pa{
	height:30px;
	width: 240px;

}

/* Set up the login buttom*/
#login{
	height:25px;
	width: 80px;
	background-color:#C8A2C8;
}

.Connected{
	font-size:18px;
	font-weight: bold;
	position: absolute;
  	top: 230px;
	left:0px;
}

.error{
	font-size:18px;
	color:red;
	font-weight: bold;
	position: absolute;
  	top: 240px;
}

a{
	color:black;
	font-size:18px;
	text-decoration:none;
}


.a{
	color:black;
	font-size:12px;
	text-decoration:none;
}

#er{
	left:0px;
	font-size:14px;
}
